@model CasaDeShow.Models.Evento

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorIngresso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorIngresso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneroMusica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneroMusica)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
