@model IEnumerable<CasaDeShow.Models.Evento>

@{
    ViewData["Title"] = "Evento";
}

<h1 class="fonte-clara">Eventos</h1>

<p>
    <a class="badge badge-info" asp-action="Create">Criar novo evento</a>
</p>
@TempData["ErroCasa"]
<table class="table table-hover">
    <thead>
        <tr class="table-dark text-center">
            <th>
                @Html.DisplayNameFor(model => model.NomeEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorIngresso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Casadeshow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneroMusica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-primary">
            <td>
                @Html.DisplayFor(modelItem => item.NomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorIngresso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Casadeshow.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneroMusica)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
